
.profile{
	background-color: #F2F4F4;
}
.profile .header{
	margin: 0px 0px;
	height: 35px auto;
}
.profile .header {
	padding: 0px;
	margin: 8px auto;
	color: #5D0E8E;
	font size: 18px;
	font-family: cursive;
}

.profile .header h2{
	color: #2980B9;
	font-size: 14px;
	margin: 4px 80px;
	font-family: cursive;
	text-align: right;

}
.profile .header button{
	margin: 4px 80%;
}
.feed{
	background:url(../img/background.jpg) no-repeat; background-size:cover;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 199px;

}
.feed .form{}

.feed label{
	color: orange;
	font-family: cursive;
	font-size: 15px;
}
.feed button{
	margin-left: 92%;
	margin-top: 4px;
}
.article{
	background:url(../img/background.jpg) no-repeat; background-size:cover;
	padding: 0px;
	display: block;
	text-align: left;
	margin : 0px;
	padding-top: 12px;
	padding-bottom: 45px;
}
.article .block{
	margin-top: 12px;
	margin-bottom: 5px;
	border: 2px solid #a1a1a1;
    padding: 10px 40px;
    background: #FFC8B7;
    width: 100%;
    border-radius: 12px 30px;
}
.article .block h1{
	color: red;
	font-size: 16px;
	font-family: cursive;
	font-style: italic;
	font-weight: 900px;
	margin-top: 0px;
}
.article .block p{
	color: blue;
	font-size: 14px;
	font-family: cursive;
	font-style: italic;
	font-weight: 700px;
	margin-top: 0px;
}
.footer{
	background-color: #AD024E;
	width: 100%;
	height: 105px;
}
.footer h2{
	font-family: cursive;
	font-size: 16px;
	text-align: center;
	color: #B3FBF3;
}
.footer p{
	font-family: cursive;;
	font-size: 14px;
	text-align: right;
	color: #B3FBF3;
	margin-right: 16px;
}
.registration
{
	background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd69LgDO_CMXk6HeiMd_8yV0MSnpVbz7VreUcftCGxVUx2Pxkh) no-repeat; background-size:cover;
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
	font-size: 24px;
	color: #1980B6;
	margin: 0px;
	height: 100
}